{% extends 'base.html.twig' %}

{% block title %}Corporations list{% endblock %}

{% block body %}
    <li>Corpo lists</li>
    {% for entreprise in entreprises %}
        <li> <a href="{{ path('display_app_entreprise', { 'id': entreprise.id}) }}"> {{ entreprise.raisonSociale}} </a></li> {# ~ is the concatenation operator #}
    {% endfor %}

{% endblock %}
