{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
    <h1>Employees list</h1>

    {% for employe in employes %}
        <p>
            <a href=" {{path("display_app_employe", { 'id' : employe.id }) }}"> {{employe}}{{"\n"|nl2br}} </a>
        </p>
    {% endfor %}

{% endblock %}
